<div class="textParagraph">I keep myself pretty busy - after programming, 
  the other hobbies I indulge are reading and (occassionally) writing.
</div>
<div class="textParagraph">You can't learn how to code except 
  by actually coding, and you can't understand something 
  unless you're able to describe it in regular language. Hence, 
  my tech blog. I only post there when I've completed a significant hobby-project.
</div>
<div class="textParagraph">Also, I'm trying to fill in the gaps in my 
  education. My thinking is very traditional and old-fashioned - I believe 
  university graduates should have a solid liberal education in addition to their 
  specialties. Computer science and mathematics are beautiful subjects for me, 
  but I pretty much skipped the humanities while getting my BSCS. Hence, 
  I'm reading through the 50-volume <em>Harvard Classics</em> and keeping a blog 
  to spur me on and share with my bibliophile friends.
  </div>

<br><br>
<table>
  <th><strong>Name</strong></th>
  <th><strong>Link</strong></th>
  <th><strong>Description</strong></th>
  <tr>
    <td>Source Code Thoughts</td>
    <td><a href="https://aphorism44.wordpress.com/" target="_blank">Link</a></td>
    <td>My first blog, entirely devoted to coding. I describe individual projects here.</td>
  </tr>
  <tr>
    <td>Blogging the Great Books</td>
    <td><a href="https://greatbooksblog981836056.wordpress.com/blog-posts/" target="_blank">Link</a></td>
    <td>In 1909, a certain man claimed you could give yourself a liberal 
      education by reading through these volumes (the <em>Harvard Classics</em>) 
      on a steady basis. I bought the Kindle version for less than three 
      dollars, and have been slowly working my way through them. A much 
      better alternative than wasting tens of thousands of dollars on a 
      worthless college degree...and you probably learn more too.
      </td>
  </tr>
  <tr>
    <td>Quora Entries</td>
    <td><a href="https://www.quora.com/profile/Dominic-Jesse" target="_blank">Link</a></td>
    <td>Aside from coding, I constantly read on a number of subjects, especially history. Here`s a link to my Quora posts.</td>
  </tr>
</table>
