
<div class="textParagraph">Front-end design is one of my hobbies, 
    and one that needs constant improvement. 
    This is my current homepage.</div>

<div class="textParagraph">This page was written using Angular2 (version 6). 
    Older versions of this page were written in React, Angular(1),
     and plain jQuery.</div>

<div class="textParagraph">There's also links here for other projects. 
    I've always been a programming hobbyist at heart, and I'm always
     playing with one thing or another. Click on the above tabs 
     for more info.</div>
