<div class="textParagraph">Pretty much all programmers have been here before - they use a new library or framework, only to find out that it lacks some required functionality. That's how 
I ended up writing the below plugins - I needed something done, but the library didn't support it...until I plugged the gap.</div>

<div class="textParagraph">Additionally, I do a lot of coding for fun, to satisfy curiousity, or to teach myself something new - the best way to 
learn a new language/framework/library/etc. is to actually make something with it. Few of these projects are useful, but I'm listing the more decent ones below. </div>

<br><br>

<table>
  <th><strong>Name</strong></th>
  <th><strong>Language</strong></th>
  <th><strong>Link</strong></th>
  <th><strong>Description</strong></th>
  <tr>
    <td>REST API for Emergent Economy Model	</td>
    <td>Java (Spring Boot)</td>
    <td><a href="https://github.com/aphorism44/economyModel" target="_blank">Link</a></td>
    <td>This project was just for fun - I found an interesting paper on economic simulations online
      , and decided to implement it. Unfortunately, this doesn't have many useful applications 
      outside some esoteric academic circles.
    </td>
  </tr>
  <tr>
    <td>Graph Plugin for Phaser.io</td>
    <td>Javascript (Phaser.io plugin)</td>
    <td><a href="https://github.com/aphorism44/phaser-barchart" target="_blank">Link</a></td>
    <td>When I was building a project using the Phaser.io library, I realized I needed some type of graphing 
      functionality to more easily present numeric data. Since Phaser.io didn`t have that capability, 
      I made it myself as an open source contribution. I also included a tutorial for the Phaser.io community.
    </td>
  </tr>
  <tr>
    <td>Pathfinding Plugin for Enchant.js</td>
    <td>Javascript (enchant.js plugin</td>
    <td><a href="https://github.com/aphorism44/astar_api_js" target="_blank">Link</a></td>
    <td>Again, I needed something while working on a project. In this case, mobile users needed to be able to 
      move objects around their screen without having to resort to a built-in game pad. So, 
      I implemented the A* algorithm. That way, all users had to do was click or tap on the desired location, 
      and the player would automatically move there, avoiding all obstacles. I never entered this into Open 
      Source since the Enchant.js engine was almost dead by then, and someone had already implemented this for the Phaser.io engine.</td>
  </tr>
</table>


