.textParagraph {
    margin: 30px;
    width: 75%;
}

.newsBox {
    margin: 30px;
    width: 300px;
    border: solid black 1px;
}

table {
    width: 80%;
    padding: 25px;
    border-spacing: 10px;
    border: solid black 1px;
    border-collapse: collapse;
}

th {
    border-bottom: solid black 1px;
}

table.lastChild {
    border-bottom: none;
}

td {
    padding: 10px;
    border-bottom: solid black 1px;
}
