<div class="textParagraph">When I was a kid, I enjoyed playing computer games, and I wanted to program my own. My efforts never 
  resulted in anything more complicated than a text adventure.
</div>
    
    <div class="textParagraph">Today, the Open Source community is filled with game engines and libraries that make it 
      pretty easy to code games. Ironically, by the time these started coming out, I lost most of my interest in computer games. 
    Now, I'm a lot more interested in German-style board games than any video game. I've never owned a first-person shooter in my life.
   I can no longer get into RPGs like <em>Final Fantasy</em>. And don't get me started on banal online games such as <em>League of Legends</em>, 
  whose only effect is to waste time and deprive people of sleep. The few games I play are strategy games. The <em>
    Civilization</em> series is the only series from childhood I still enjoy.
  </div>
    
  <div class="textParagraph">So, it's gotten to the point where <em>I usually enjoy making games more than actually playing them</em>. However, they 
    offer me the chance to play around with different ideas, such as unusual gameplay. I've made old-school RPGs that focus on conversation and solving mysteries 
    rather than fighting. I like approaching traditionally game tropes from different perspectives. And I include a lot of dialogue (even in my idle game, not 
    a genre given to much words).
  </div>

  <div class="textParagraph">So, it's gotten to the point where <em>I usually enjoy making games more than actually playing them</em>. The new engines 
    offer me the chance to try different ideas. I've made old-school RPGs that focus on conversation and solving mysteries 
    rather than fighting. I like approaching traditional game tropes from different perspectives. <strong>In short, I'm trying to 
      develop <em>alternative</em> or <em>experimental</em> games.</strong> And I have a lot more work to do before I get there.
  </div>

    <br><br>
    
<table>
  <th><strong>Name</strong></th>
  <th></th>
  <th><strong>Link</strong></th>
  <th><strong>Engine</strong></th>
  <th><strong>Description</strong></th>
  <tr>
    <td>The Townfolk Cartel	</td>
    <td><img src="../../assets/images/townfolk.png"/></td>
    <td><a href="https://www.newgrounds.com/portal/view/687176?id=687176" target="_blank">Link</a></td>
    <td><a href="https://phaser.io/" target="_blank"></a>Phaser.io</td>
    <td>I never wrote an idle game before, so I made this one as a lark - I wanted to create a game about traditional RPG tropes, 
      but played from a different perspective. It proved more popular than the preceding RPGs (and was a lot easier to make). 
      I actually had to make an open-source contribution to the Phaser engine to get this to work how I wanted. Both the game and the plugin 
      I wrote were discussed in <a href="https://madmimi.com/p/da6299" target="_blank">this issue of Phaser World</a>.
    </td>
  </tr>
  <tr>
    <td>Apprentice Wars</td>
    <td><img src="../../assets/images/apprentice.png"/></td>
    <td><a href="https://www.newgrounds.com/portal/view/661204?id=661204" target="_blank">Link</a></td>    
    <td><a href="http://enchantjs.com/" target="_blank"></a>Enchant.js</td>
    <td>This RPG game used a vastly improved game engine, most notably a world map that used the A* algorithm to move the character to wherever 
      on the screen the player clicked and pointed. I also added standard RPG fare like NPCs on the map and random encounter battles. The story here 
      was more involved, but was not, in my opinion, as focused and straightforward as the storyline in the first one.
    </td>
  </tr>
  <tr>
    <td>The Stranger in Town</td>
    <td><img src="../../assets/images/stranger.png"/></td>
    <td><a href="https://www.newgrounds.com/portal/view/645734" target="_blank">Link</a></td>
    <td><a href="http://enchantjs.com/" target="_blank">Enchant.js</a></td>
    <td>My first traditional RPG game, with some interesting modifications. First, I added a mystery solving engine - the goal of this 
      game is to collect clues, logically combine them to come up with other clues, and solve a problem. Second, I added a 
      conversation mechanism to allow more interesting NPC interaction than traditional RPGs. However, the core gameplay had serious 
      limitations, which were addressed in the second iteration of the game engine. Also, while it had a focused storyline and goal, 
      the dialogue was too wordy.
    </td>
  </tr>
</table>


